/*----------------------------------------------------------- GENERAL-----------------------------------------------------------*/
.container-fluid{
  max-width: 100%;
  padding: 0px;
}


/*----------------------------------------------------------- NAVBAR-----------------------------------------------------------*/
.navbar {
  height: 3rem;
  background-color: #f0f0f7;
}

.navbar-nav{
  margin-left:160px;
}
.navbar a {
  color: #32373b;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 0px 20px 0px 20px;
  padding: 0.7rem;
}

/* Specific styles for active links */
.nav-link:active {
  color: rgb(255, 196, 13)  !important;
  border-bottom: 3px solid rgb(255, 196, 13);
}

.nav-link:hover {
  color: rgb(255, 196, 13);
  border-bottom: 3px solid rgb(255, 196, 13);
  transition: 0.2s;
}

.active {
  color: rgb(255, 196, 13);
}
/* .drop-item {
  color: rgb(255, 196, 13);
  background-color: white;
  width: auto;
} */
.drop-item:hover {
  background-color: white;
  color: rgb(255, 196, 13);
  transition: 0.2s;
  width: auto;
}

.basic-nav-dropdown:hover {
  color: rgb(255, 196, 13);
  border-bottom: 3px solid rgb(255, 196, 13);
  /* transition: 0.2s; */
}

.candado {
  display: inline-flex;
  align-items: center;
  margin-right: 10px;
}
.login.nav-link {
  color: rgb(255, 196, 13);
}
.login.nav-link:hover:hover {
  color: #32373b;
  border-bottom: 3px solid #32373b;
  transition: 0.2s;
}

.register.nav-link{
  color: rgb(255, 196, 13);
  margin-right: 150px;
}
.register.nav-link:hover:hover {
  color: #32373b;
  border-bottom: 3px solid #32373b;
  transition: 0.2s;
  }
.navbar .rightSide button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}


/*----------------------------------------------------------- LOGO BAR -----------------------------------------------------------*/

.logobar{
margin: 30px 0px 20px 160px;
text-align: left;
}
.img-logo{
  align-items: center;
  width: 22rem;
}
.phone-img{
margin: auto;
margin-top:38px;
}
.tel-icon {

  border: rounded;
  color: rgb(255, 196, 13);
  transform: scaleX(-1);
  font-size: 20px;
  border-radius: 50px;
  box-shadow: 0 0 6px 1px rgb(212, 212, 221);
  padding: 0.6em 0.6em;
}

.fono {
    
  color: grey;
  margin-top: 30px;
  margin-bottom: 0px;
  font-size: 1rem;
  font-weight: bold;
  text-align: left;
}

p{
  padding-left:0px !important;
}
/*----------------------------------------------------------- SEARCH BAR-----------------------------------------------------------*/
.izquierda{
  margin-left:170px;
}
.derecha {
  padding-left: 20px;
}

/*----------------------------------------------------------- BANNER -----------------------------------------------------------*/

.carousel-indicators li {
  background-color: rgb(153, 153, 153);
  background-color: rgba(70, 70, 70, 0.25);
  border-style: none;
  border-top: dotted;
  width: 10%;
  border-width: 5px;
  border-color: #66BFBF;
}

.carousel-indicators .active {
  border-style: none;
  border-top: dotted;
  border-width: 5px;
  border-color: #66BFBF;
}



/*----------------------------------------------------------- CATEGORIAS-----------------------------------------------------------*/
.titulo-categorias{  
  margin: auto ;
  font-weight: bold;
  font-size: large;
  width: fit-content;
  text-align: center;
  border-bottom: 25px;
  border-bottom: 3px solid rgb(255, 196, 13);
  }
  .subtitulo-cat{
  color:  rgb(255, 196, 13);
  font-weight: bold;
  text-align: center;
  margin-bottom: 60px;
  }
  .categorias{
    padding: 25px 0px 25px 0px;
    background-color: #f4f4f6;
    text-align: left;
  }

  .cat{
    background-color: white;
  }
  .cat:hover{
    color:rgb(255, 196, 13) !important; 
    transition: 0.2s;
  }
  .img-cat{
    max-width: 240px;
  }
  a{
    font-weight: bold;
    color:rgb(23, 22, 22) !important;
    text-decoration:none;
  }
  .titulo{
    margin-top: 40px !important;
    
  }
/*----------------------------------------------------------- MAS VENDIDOS-----------------------------------------------------------*/

.masvendidos{

  padding: 25px 0px 60px 0px;
  background-color: #eaeaf1;
}
/*----------------------------------------------------------- NOSOTROS-----------------------------------------------------------*/

.nosotros{
  padding: 25px 0px 60px 0px;
  text-align: left;
  text-align: justify;
  background-color: #babacf;
}

.aboutus-img{
  width: 400px !important;
  margin-left: 30px;
}
#Nosotros{
  color: rgb(255, 196, 13);
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 20px;
}
text{ 
  max-width: 30px;
  font-family: Roboto, sans-serif;
  font-size: 15px;
}

.about-us{
  width: 500px;
}
/*----------------------------------------------------------- FOOTER-----------------------------------------------------------*/

footer{
  background-color: black;
  padding:20px;
  color: rgb(255, 196, 13);
  font-weight: bold;
  font-size: 15px;
}
